body {
    font-family: Arial, sans-serif;
    /* background-color: #65a3e6; */
    background-image: url("/pics/360_F_554053185_2fWwExa3uyXMxlhp1FDc4kgEjv1FA2W2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container {
    width: 400px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    opacity: 60%;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.form-group {
    margin-bottom: 15px;
    padding-right: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.form-group input:focus {
    outline: none;
    border-color: #007bff;
}

.btn {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

.switch-link {
    display: block;
    text-align: center;
    margin-top: 15px;
}

.switch-link a {
    color: #007bff;
    text-decoration: none;
}

.switch-link a:hover {
    text-decoration: underline;
}