/* General Body Styling */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column; /* Makes content flow vertically */
    height: 100vh; /* Full viewport height */
    background-color: #909294 !important;;
}

/* Header */
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #343a40; /* Dark background */
    color: #fff; /* White text color */
    padding: 10px 30px;
    position: sticky;
    top: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    z-index: 1000;
    height: 60px;
    width: 100%; /* Ensure header takes full width */
    
}

/* Center section (GeoCrime text) */
.header-center {
    flex-grow: 1;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    letter-spacing: 1px;
}

/* Right section (icons) */
.header-right {
    display: flex;
    align-items: center;
}

.header-right i {
    font-size: 28px;
    margin-left: 25px; /* Space between icons */
    cursor: pointer;
    color: #fff;
}

.header-right i:hover {
    font-size: 28px;
    color: #909294; /* Change color on hover */
    transition: color 0.3s ease;
}

/* Content Wrapper  */
.content {
    display: flex;
    flex-grow: 1; /* Takes remaining height after the header */
    margin-top: 2px; /* Offset content from header */
}

/* Sidebar Styling */
#sidebar {
    width: 160px;
    background: #343a40;
    padding: 5px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.15);
    overflow-y: auto;
    transition: all 0.3s ease;
    border-radius: 8px;
    margin-bottom: 5px;
}

#sidebar hr {
    background-color: #909294;
    height: 1px;
    margin: 5px;
}

#sidebar ul {
    list-style: none;
    padding: 0;
}

#sidebar ul li {
    padding: 8px 8px;
    border-radius: 8px;
    transition: background 0.3s ease, color 0.3s ease;
    text-align: center;
}

#sidebar ul li:hover {
    background: #909294;
    /* color: #fff;  */
}

#sidebar ul li a {
    text-decoration: none;
    color: #ffffff;
    display: block;
    font-weight: 500;
    transition: color 0.3s ease;
}

#sidebar ul li a:hover {
    color: #060606;
}

/* Main Content Area */
.main-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1; /* Take up the remaining space after the sidebar */
    padding: 5px;
    padding-top: 10px;
    
}

/* Responsive design for sidebar */
@media (max-width: 768px) {
    #sidebar {
        width: 30%; /* Full width on smaller screens */
        min-width: min-content;
        padding: 15px;
    }
}

/* Custom styling for the MAP */
#map {
    flex-grow: 1;
    width: 100%;
    border-radius: 8px;
}

/* Footer */
.footer {
    position: fixed;
    bottom: 10px;
    left: 10px;
    font-size: 0.9em;
}
